---
import { actions } from 'astro:actions';
import Layout from '../../../layouts/Layout.astro';
 

const result = Astro.getActionResult(actions.createTask);

 
---
<Layout title="Welcome to Astro.">
{result?.error && (
  <p class="error">Unable to sign up. Please try again later.</p>
)}
<div class=" box  p-6    mt-10 w-full ">
<h1 >Создание задачи</h1>
{result && !result.error &&  (<div class="text-green-700">Задача успешно добавлена <br />id: {result?.data.id} {result?.data.title}</div>)}
<form   method="POST"  action={actions.createTask}>
    <div class="mb-4">
      <label for="title" >Название задачи</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form__input"
        required
      />
    </div>
  
    <div class="mb-4">
      <label for="description" >Описание</label>
      <textarea
        id="description"
        name="description"
        rows="3"
        class="form__input"
      ></textarea>
    </div>
  
    <div class="mb-4">
      <label for="priority" >Приоритет</label>
      <select
        id="priority"
        name="priority"
        class="form__input"
        required
      >
        <option value="low">Низкий</option>
        <option value="medium">Средний</option>
        <option value="high">Высокий</option>
      </select>
    </div>
  
    <div class="mb-4">
      <label for="dueDate" >Дата выполнения</label>
      <input
        type="date"
        id="dueDate"
        name="dueDate"
        class="form__input"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary float-right mt-10"
    >
      Создать задачу
    </button>
  </form>
</div>
</Layout>

 