---
import Layout from "../layouts/Layout.astro";
 
---
<Layout title="Error 404">
<div class="flex   p-4 border  rounded-lg shadow-md w-full text-center items-center h-100  ">
    <div class="text-5xl w-full">404</div>
</div>
</Layout>