---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import { actions } from 'astro:actions';
import TaskList from '../components/tasks/TaskList.svelte';
import Alert from '../components/ui/Alert.svelte';
import ButtonAdd from '../components/tasks/ButtonAdd.svelte';
/*
import { v4 as uuidv4 } from 'uuid';

let userCookie = Astro.cookies.get('userId');
let userId = userCookie ? userCookie.value : undefined;

 
if (!userId) {
  // Если userId не существует, генерируем новый
  userId = uuidv4();

  // Устанавливаем куку userId на 1 год
  Astro.cookies.set('userId', userId, {
    path: '/',
    httpOnly: false, // Кука доступна JavaScript на клиенте
    secure: true, // Кука будет передаваться только через HTTPS
    maxAge: 60 * 60 * 24 * 365, // Срок действия - 1 год
  });

  console.log('Generated new userId and saved to cookies:', userId);
}
 */
const { data, error } = await Astro.callAction(actions.getTasks, null);
---

<Layout title="Tasks List">
  <div class="mx-auto w-full">
    <h1>Список задач</h1>

    {error && <Alert title="Ошибка" arrmsg={[error.message]} color="red" client:only="svelte" />}
    <div class="flex w-full justify-end mt-3 mb-3"><ButtonAdd /></div>

    <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
      <TaskList tasks={data} client:only="svelte" />
    </div>
  </div>
</Layout>
