---
import Layout from '../layouts/Layout.astro';
import { actions } from "astro:actions";
import TaskList from '../components/tasks/TaskList.svelte';

const { data, error } = await Astro.callAction(actions.getTasks,{});
---

<Layout title="Tasks List">
  <main>
    <div class="max-w-4xl mx-auto py-8">
      <h1>Task Manager</h1>
      <div>{error}</div>
      <div class="flex w-full justify-end mt-3"><a href={`/tasks/new`} class="btn btn-green mb-3   text-center" > + Добавить </a></div>
      
      <div class="grid grid-cols-1 md:grid-cols-1 gap-6">
        <TaskList tasks={data} client:only="svelte" />
      </div>
    </div>
  </main>
</Layout>

 