---
import '../styles/global.css';
import MenuTop from '../components/ui/MenuTop.svelte';
import Footer from '../components/ui/Footer.svelte';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-col min-h-screen bg-gray-100">
			<MenuTop client:only="svelte"  />
			<main class=" flex flex-grow overflow-auto  justify-center   ">
		       <slot />
			</main>
			<Footer  client:only="svelte"  />
		</div> 
	</body>
</html>
<style is:global>
 
	html {
		font-family: system-ui, sans-serif;
		background: #fff;
		font-size: 16px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
